@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

body{
    background: black;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.slider{
    width: 100%;
    height: 500px;
    background-color: #101012;
}

#out{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#out::before{
    content: '';
    position: absolute;
    bottom: 60px;
    width: 1920px;
    height: 105px;
    background: linear-gradient(to top, black, transparent);
}

.card{
    position: relative;
    width: 380px;
    height: auto;
    margin: 20px 17px;
    cursor: pointer;
    transition: 1s ease;
    background-color: #4D5061;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: whitesmoke;
}

.info{
    display: none;
}

.card:hover .info{
    display: block;
    z-index: 1;
}



.card:hover{
    transform: scale(1.1);
}

.card img{
    width: 100%;
    height: fit-content;
    background-color: #949B96;
    height: fit-content;
    border-radius: 5px;
}

.card:hover .image{
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.slider-frame{
    overflow: hidden;
    height: 500px;
    width: 1920px;
    background-color: #101012;
    border-radius: 2px;
    margin-left: 200px;
}

.hov{
    width: 850px;
    height: 500px;
    background-color: aliceblue;
    position: absolute;
    top: 0%;
    opacity: 0;
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    background-color: rgba(0, 0, 0, 0.6);
}

.hov h1, h3, p{
    color: white;
    margin-left: 25px;
}

.hov h1{

    font-size: 2rem;
}

.hov p{
    margin-top: 230px;
}

.img-container:hover .hov{
    opacity: 1;
}

@-webkit-keyframes slide_animation{
    0% {left:0px;}
    10% {left:1920px;}
    20% {left:3840px;}
    30% {left:5760px;}
    40% {left:7680px;}
    50% {left:9600px;}
    60% {left:11520px;}
    70% {left:13440px;}
    80% {left:15360px;}
    90% {left:17280px;}
    100% {left:19200px;}
}

.slide-images{
    width: 21120px;
    height: 500px;
    margin: 0 0 0 -19200px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 121s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.img-container{
    height: 500px;
    width: 1920px;
    position: relative;
    float: left;
}